@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Special+Gothic&display=swap');

@import "tailwindcss";

* {
    box-sizing: border-box;
    line-height: 1;
  }

body {
    font-family: "Special Gothic", sans-serif;
    background-color: #d4e3fe;
    color: #7589ce;
}

/*
body {
    font-family: "Gidole", sans-serif; 
    background-color: #f3f3f3;
    color: #6d4884;
}
*/

@theme {
    --color-blackCustom-50: #f7f8f8;
    --color-blackCustom-100: #ededf1;
    --color-blackCustom-200: #d7d9e0;
    --color-blackCustom-300: #b5b9c4;
    --color-blackCustom-400: #8c93a4;
    --color-blackCustom-500: #6e7589;
    --color-blackCustom-600: #585d71;
    --color-blackCustom-700: #484c5c;
    --color-blackCustom-800: #3e414e;
    --color-blackCustom-900: #2e3038;
    --color-blackCustom-950: #25262c;

    --color-yellowCustom-50: #fdf8ed;
    --color-yellowCustom-100: #f7ebce;

    --color-lemoncustom-100: #faeea1;
    --color-lemoncustom-50: #fbf6c6;

    --color-pinkCustom-50: #eec9be;
    --color-blueCustom-100: #9cedee;
    --color-brownCustom-100: #51312b;

    --color-salmoncustom-100: #feabbf;
    --color-blueCustom-200: #062872;
    --color-purpleCustom-50: #eee8ff;
    --color-purpleCustom-100: #eacdfb;
    --color-purpleCustom-200: #a39cd9;
    --color-purpleCustom-500: #3f4d9c;
    --color-creamCustom-100: #f6e7cf;

    --color-indigoCustom-400: #6d4884;
    --color-indigoCustom-100: #d5c3e4;
    --color-indigoCustom-200: #bd9fd3;
    --color-indigoCustom-300: #8359a0;
    --color-concreteCustom-100: #f3f3f3;

    --font-regular: "Gidole", sans-serif;
    --font-titleCustomFont: "Boldonse", system-ui;
    --font-customTitle: "Fredericka the Great", serif;
    --font-customTitle2: "DM Serif Text", serif;

    --font-pixelify: "Pixelify Sans", sans-serif;
    --font-regularCustom: "Special Gothic", sans-serif;

    --color-custBlue-200: #d4e3fe;
    --color-custPink-100: #e5ecfa;
    --color-custPink-200: #e3bffd;
    --color-custPurple-100: #d0dbf5;
    --color-custPurple-200: #c99df5;
    --color-custPurple-400: #7589ce;
    --color-custPurple-300: #9dabe7;
    --color-custWhite-100: #fffeff;
    --color-custYellow-200: #fede95;
    --color-custSalmon-200: #ffbfc5;
    
}

